opencv-python==4.5.5.64
opencv-python-headless==4.5.5.62
temp
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torch>=1.7.0,!=1.12.0
torchvision>=0.8.1,!=0.13.0
tqdm>=4.41.0
tensorboard>=2.4.1
pip>=22.1.1
protobuf==3.20.1
matplotlib==3.3.4
seaborn==0.11.1
scikit-learn==0.24.1
catboost==1.0.3
bokeh==2.4.1
numpy==1.20.1
pandas==1.2.4
streamlit>=1.8.1
plotly==5.4.0
statsmodels==0.13.0
streamlit_bokeh_events
